<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="card text-bg-warning mb-3">
  <div class="card-header">
    <h2>
      <a href="/post/{{post.id}}" class="fs-3">{{post.title}}</a>
      <p>Created by {{post.user.username}} on {{format_date post.date_created}}</p>
    </h2>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>
</div>
{{/each}}
